body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffcc33, #ff9966);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  .app {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #ff5733;
  }

  h4{
    margin: 0px;
    font-style: italic;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  button {
    background-color: #ff5733;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #e64a19;
  }
  
  .data-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  table th {
    background-color: #ff5733;
    color: white;
  }
  
  .chart-container {
    margin-top: 20px;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 8px;
  }
  